seaborn==0.12.2
pandas
ipython==8.10.0
ipython-genutils==0.2.0
matplotlib==3.6.3
matplotlib-inline==0.1.6
ipywidgets==8.0.4
certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
